def get_max_penalty_pos(matrix: np.ndarray):
    A = matrix.copy()
    
    max_value = np.max(A)
    
    max_value_pos = np.array(
        np.where(A == max_value)
    ).T[0]
    
    return max_value_pos, penalty

def add_trunk(reduced_matrix: np.ndarray, i, j):
    A = reduced_matrix.copy()
    
    A[i, j] = A[j, i] = np.nan
    
    A = np.delete(A, i, axis=0)
    A = np.delete(A, j, axis=1)
    
    return A

In [1]:
import numpy as np

A = np.array(
    [
        [np.nan, 68, 73, 24, 70, 9],
        [58, np.nan, 16, 44, 11, 92],
        [63, 9, np.nan, 86, 13, 18],
        [17, 34, 76, np.nan, 52, 70],
        [60, 18, 3, 45, np.nan, 58],
        [16, 82, 11, 60, 48, np.nan]
    ],
    dtype=float
)

A

In [2]:
A = np.array(
    [
        [np.nan, 20, 18, 12, 8],
        [5, np.nan, 14, 7, 11],
        [12, 18, np.nan, 6, 11],
        [11, 17, 11, np.nan, 12],
        [5, 5, 5, 5, np.nan]
    ],
    dtype=float
)

A

array([[nan, 20., 18., 12.,  8.],
       [ 5., nan, 14.,  7., 11.],
       [12., 18., nan,  6., 11.],
       [11., 17., 11., nan, 12.],
       [ 5.,  5.,  5.,  5., nan]])

In [3]:
def apply_reduction(initial_matrix: np.ndarray) -> np.ndarray:
    local_matrix = initial_matrix.copy()
    root_weight  = 0
    
    axis0_mins = np.nanmin(local_matrix, axis=1).reshape(-1, 1)
    root_weight  += axis0_mins.sum()
    local_matrix -= axis0_mins
    
    axis1_mins = np.nanmin(local_matrix, axis=0)
    root_weight  += axis1_mins.sum()
    local_matrix -= axis1_mins
    
    return local_matrix, root_weight

In [4]:
def empty_tree():
    return {
        'left': None,
        'right': None,
        'parent': None,
        'penalty': 0,
        'matrix': None
    }

In [5]:
def is_solution_found(tree: dict) -> bool:
    
    leaf = get_leaf_with_least_penalty(tree)
    
    if leaf['matrix'].shape == (2, 2):
        return True
    else:
        return False

In [6]:
def get_leaf_with_least_penalty(tree: dict) -> dict:
    
    if tree['parent'] == 'root':
        tree['parent'] = 'activated root'
        return tree
    
    if tree['left'] is None and tree['right'] is None and tree['parent'] != 'activated root':
        return tree
    else:
        left = get_leaf_with_least_penalty(tree['left'])
        right = get_leaf_with_least_penalty(tree['right'])
        
        if left['penalty'] < right['penalty']:
            return left
        else:
            return right

In [7]:
def add_path(tree: dict, i, j) -> dict:
    local_copy = tree['matrix'].copy()
    
    local_copy[i, j] = local_copy[j, i] = np.nan
    
    local_copy = np.delete(A, i, axis=0)
    local_copy = np.delete(A, j, axis=1)
    
    leaf = empty_tree()
#     leaf['matrix'] = local_copy.copy()
    leaf['matrix'] = apply_reduction(local_copy.copy())[0]
    leaf['penalty'] = tree['penalty']
    
    return leaf

In [8]:
def skip_path(tree, penalty):
    leaf = empty_tree()
    
    leaf['matrix'] = tree['matrix']
    leaf['penalty'] = tree['penalty'] + penalty
    
    return leaf

In [9]:
def get_penalty_matrix(A):
    _A = A.copy()
    
    result = np.zeros(shape=_A.shape)
    
    for i in np.arange(_A.shape[0]):
        for j in np.arange(_A.shape[1]):
            stash = _A[i, j]
            _A[i, j] = np.nan
            
            axis0_min = np.nanmin(_A[i])
            axis1_min = np.nanmin(_A.T[j])
            
            result[i, j] = axis0_min + axis1_min
            _A[i, j] = stash
    
    return result

In [10]:
def max_penalty_path(reduced_matrix: np.ndarray):
    local_copy = get_penalty_matrix(reduced_matrix.copy())
        
    max_value = np.nanmax(local_copy)
    
    forking_trunk_pos = np.array(
        np.where(local_copy == max_value)
    ).T[0]
    
    return max_value, *forking_trunk_pos

SyntaxError: invalid syntax (<ipython-input-10-adff9d76f7fa>, line 10)

In [ ]:
def fork_least_leaf(tree: dict) -> dict:
    leaf = get_leaf_with_least_penalty(tree)
    
    penalty, i, j = max_penalty_path(tree['matrix'])
    
    leaf['left'] = add_path(tree, i, j)
    leaf['right'] = skip_path(tree, penalty)

In [ ]:
def sovler(initial_matrix: np.ndarray):
    tree = empty_tree()
    
    tree['matrix'], tree['penalty'] = apply_reduction(initial_matrix)
    tree['parent'] = 'root'
    
    i = 0
#     while not is_solution_found(tree) and i > 30:
    while i < 4:
        fork_least_leaf(tree)
        i += 1
        
    value = get_leaf_with_least_penalty(tree)['penalty']
    
    return value, tree

In [ ]:
sovler(A)

In [12]:
import pandas as pd

In [ ]:

a = pd.DataFrame({
    'a': 2,
    'b': 3,
    'c': 5
}, index=['a', 'b', 'c'])

a

In [ ]:
a.to_numpy()[0, 0] = 6

In [ ]:
changed = np.delete(a.to_numpy(), 1, axis=0)

In [ ]:
a

In [11]:
A

array([[nan, 20., 18., 12.,  8.],
       [ 5., nan, 14.,  7., 11.],
       [12., 18., nan,  6., 11.],
       [11., 17., 11., nan, 12.],
       [ 5.,  5.,  5.,  5., nan]])

In [13]:
import string

In [26]:
list(string.ascii_uppercase[:A.shape[0]])

['A', 'B', 'C', 'D', 'E']

In [27]:
A_frame = pd.DataFrame(
    A,
    columns=list(string.ascii_uppercase[:A.shape[0]]),
    index=list(string.ascii_uppercase[:A.shape[0]])
)

In [28]:
A_frame

      A     B     C     D     E
A   NaN  20.0  18.0  12.0   8.0
B   5.0   NaN  14.0   7.0  11.0
C  12.0  18.0   NaN   6.0  11.0
D  11.0  17.0  11.0   NaN  12.0
E   5.0   5.0   5.0   5.0   NaN

In [32]:
columns = A_frame.columns

columns[columns == 'B']

Index(['B'], dtype='object')

In [37]:
def remove_letter(frame, letter):
    local_frame = frame.copy()
    
    local_frame.drop('B', inplace=True, axis=0)
    local_frame.drop('B', inplace=True, axis=1)
    
    return local_frame

remove_letter(A_frame, 'B')

      A     C     D     E
A   NaN  18.0  12.0   8.0
C  12.0   NaN   6.0  11.0
D  11.0  11.0   NaN  12.0
E   5.0   5.0   5.0   NaN

In [43]:
A_frame

      A     B     C     D     E
A   NaN  20.0  18.0  12.0   8.0
B   5.0   NaN  14.0   7.0  11.0
C  12.0  18.0   NaN   6.0  11.0
D  11.0  17.0  11.0   NaN  12.0
E   5.0   5.0   5.0   5.0   NaN

In [42]:
max_value = np.nanmax(A_frame); max_value

20.0

In [44]:
np.where(A_frame == max_value)

(array([0]), array([1]))

In [47]:
A_frame.columns[np.where(A_frame == max_value)[0]]

Index(['A'], dtype='object')

In [48]:
A_frame.columns[np.where(A_frame == max_value)[1]]

Index(['B'], dtype='object')

In [51]:
def remove_letter(frame, first, second):
    local_frame = frame.copy()
    
    local_frame.drop(first, inplace=True, axis=0)
    local_frame.drop(second, inplace=True, axis=1)
    
    return local_frame

remove_letter(A_frame, 'A', 'B')

      A     C    D     E
B   5.0  14.0  7.0  11.0
C  12.0   NaN  6.0  11.0
D  11.0  11.0  NaN  12.0
E   5.0   5.0  5.0   NaN